<ion-header>
    <ion-toolbar>
      <ion-title align="center">Formulaire</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
  
      <ion-row>
        <ion-col align="center">
          <ion-button href="questionnaire">Répondre au questionnaire</ion-button>
        </ion-col>
        
      </ion-row>
  
      <ion-row style="position:fixed;bottom:0;right:0">
        <ion-col align="center">
        Application réalisée par Mathilde Leriche et Maxime Delsart, étudiants en 2ème année de BTS SIO du lycée
        Saint-Jospeh.
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>